* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

nav menu {
  list-style: none;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
}

header > h1 {
  margin: 10px;
}

.menu1 {
  display: flex;
  justify-content: center;
}

.menu1 > li {
  margin: 10px;
}

.menu2 {
  display: flex;
  justify-content: space-evenly;
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
}

header form label {
  display: none;
}
